name: Tests Runner

on:
  push:
  pull_request:

jobs:
  build:
    name: Build on ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: ubuntu-24.04
            vcpkg_triplet: x64-linux-release
            out_name: bittorrent-linux-x64
          - os: macos-15
            vcpkg_triplet: x64-osx-release
            out_name: bittorrent-macos-x64
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: cpp-linter/cpp-linter-action@v2
        id: linter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: 'file'
          tidy-checks: ''
          thread-comments: ${{ github.event_name == 'pull_request' && 'update' }}

      - name: Fail fast?!
        if: fromJson(steps.linter.outputs.checks-failed) > 0
        run: exit 1

      - name: vcpkg build
        uses: johnwason/vcpkg-action@v6
        with:
          manifest-dir: ${{ github.workspace }}
          token: ${{ secrets.GITHUB_TOKEN }}
          triplet: ${{ matrix.config.vcpkg_triplet }}
          cache-key: ${{ matrix.config.os }}
          revision: master
          github-binarycache: true

      - name: Configure Build
        run: |
          cmake -B build -S . \
            -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake \
            -DCMAKE_EXPORT_COMPILE_COMMANDS=1 \
            -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: make -C build

      - name: Move Binary
        run: mv build/main ${{ matrix.config.out_name }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.config.out_name }}
          path: ${{ matrix.config.out_name }}

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: build
    if: >
      github.event_name == 'pull_request' &&
      github.event.action == 'closed' &&
      github.event.pull_request.merged == true &&
      github.event.pull_request.base.ref == 'main'
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: List files (debug)
        run: ls -R artifacts

      - name: Tag Version
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
          files: |
            artifacts/bittorrent-linux-x64/bittorrent-linux-x64
            artifacts/bittorrent-macos-x64/bittorrent-macos-x64


  # TODO windows build
  # windows-test:
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       config:
  #       - os: windows-2019
  #         vcpkg_triplet: x64-windows-release
  #         github-binarycache: false
  #   defaults:
  #     run:
  #       shell: pwsh
  #   name: Test for build on windows-latest
  #   runs-on: windows-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: ilammy/msvc-dev-cmd@v1
  #     - uses: johnwason/vcpkg-action@v6
  #       with:
  #         manifest-dir: ${{ github.workspace }}
  #         triplet: x64-windows-static
  #         token: ${{ github.token }}
  #         github-binarycache: true
  #
  #     # Step 1: Checkout the code
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #
  #     # Step 2: Install dependencies via vcpkg
  #     - name: vcpkg build
  #       uses: johnwason/vcpkg-action@v6
  #       id: vcpkg
  #       with:
  #         manifest-dir: ${{ github.workspace }} # Directory containing vcpkg.json
  #         token: ${{ github.token }}  # GitHub token for authentication
  #         triplet: ${{ matrix.config.vcpkg_triplet }}
  #         cache-key: ${{ matrix.config.os }}
  #         revision: master
  #         github-binarycache: true
  #
  #     # Step 3: Build the project using CMake and Make
  #     - name: Configure CMake with Ninja
  #       run: |
  #         cmake -B build -S . `
  #           -G "Ninja" `
  #           -DCMAKE_TOOLCHAIN_FILE="${env:GITHUB_WORKSPACE}/vcpkg/scripts/buildsystems/vcpkg.cmake" `
  #           -DCMAKE_EXPORT_COMPILE_COMMANDS=1 `
  #           -DCMAKE_BUILD_TYPE=Release
  #       shell: pwsh
  #
  #     # - name: Build with Ninja
  #     #   run: cmake --build build
  #     #   shell: pwsh
  #
  #     # Step 4: Run the tests
  #     - name: Test
  #       run: ls build
  #       env:
  #         CMAKE_GENERATOR: "Ninja"
  #         CMAKE_TOOLCHAIN_FILE: "${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake"
  #         SKBUILD_CMAKE_ARGS: "-DVCPKG_TARGET_TRIPLET=x64-windows-static;-DVCPKG_MANIFEST_MODE=OFF"
